:root {
  --yellow: #F4D04E;
  --white: #FFFFFF;
  --black: #111111;
  --grey: #7F7F7F;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}